<mat-card style="text-align: center">
  <mat-card-title>
    Welcome! {{ studName }} to the Student Portal
  </mat-card-title>
</mat-card>

<div *ngFor="let exam of examsToDisplay">
  <detail-exam [examDetails]="exam"> </detail-exam>
</div>

<div *ngIf="!viewAll">
  <div class="place-button">
    <button mat-raised-button color="primary" (click)="handleClick()">
      View All Mock Tests
    </button>
  </div>
</div>

<div *ngIf="viewAll">
  <div class="place-button">
    <button mat-raised-button color="primary" (click)="handleClick()">
      View Less
    </button>
  </div>
</div>
