<mat-card [ngStyle]="{ 'text-align': 'center' }">
  <mat-card-title>Change Your Password</mat-card-title>
</mat-card>

<form [formGroup]="form">
  <mat-card ngClass="field-container">
    <mat-card-content ngClass="arrange-fields">
      <label>Enter the password:</label>
      <mat-form-field appearance="outline">
        <mat-label>Enter the password</mat-label>
        <input matInput type="password" formControlName="_password" />
      </mat-form-field>

      <label>Enter new password:</label>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter new password</mat-label>
          <input
            matInput
            (keyup)="onChange()"
            type="password"
            formControlName="_newPassword"
          />
        </mat-form-field>

        <div
          ngClass="error"
          *ngIf="form.get('_newPassword')?.hasError('minlength')"
        >
          Min password length is 6
        </div>
      </div>

      <label>Re-enter new password:</label>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Re-enter new password</mat-label>
          <input
            matInput
            type="password"
            formControlName="_reenteredPassword"
            (keyup)="onChange()"
          />
        </mat-form-field>
        <div
          *ngIf="errorMessage && form.get('_reenteredPassword')?.dirty"
          ngClass="error"
        >
          {{ errorMessage }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div ngClass="position-btn">
    <button
      mat-raised-button
      color="primary"
      (click)="changePassword()"
      [disabled]="!this.form.valid"
    >
      Save Changes
    </button>
  </div>
</form>
