.arrange-fields {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 3fr;
}

.field-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

label {
  padding-top: 20px;
  font-weight: 500;
}

.position-btn {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -20px;
  margin-bottom: 10px;
}
