<mat-card>
  <mat-card-title style="text-align: center">Edit Your Profile</mat-card-title>
</mat-card>

<mat-card class="card-style" style="text-align: center" *ngIf="!isStudProfileFetched">
  <mat-card-title style="text-align: center">Oops! Something Went Wrong...</mat-card-title>
</mat-card>

<mat-card class="card-style" style="text-align: left" *ngIf="isStudProfileFetched">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Choose DOB</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dob"
        placeholder="MM/DD/YYYY"
        (dateChange)="handleChangeInDOB()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="userName" (keyup)="handleKeyUp()" />
    </mat-form-field>

    <div *ngIf="form.get('userName')?.invalid" class="error">
     user name must start/end with apbhabet, must contain min. 5 characters, can contain (-_.)
    </div>

    <div *ngIf="isExistingUserName" class="error">
      {{form.get('userName')?.value}} user name is not available
    </div>

    <br />

    <div *ngIf="(form.get('userName')?.dirty && !isSameUserName) || (form.get('dob')?.dirty && !isSameDOB)">
      <button mat-raised-button color="primary" [disabled]="!form.valid || isExistingUserName">
        Save Changes
      </button>
    </div>
  </form>
</mat-card>
