.card-style {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
}

.summary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

a {
  text-decoration: none;
  color: gray;
  font-style: italic;
}
