.card-style {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.latest-exam-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-self: center;
  place-self: center;
}

/* .test {
  justify-content: center;
} */
